<html>

<head>
    <title>ejs</title>
    <meta charset="utf-8">
    <style>
        body {
            background-image: -webkit-linear-gradient(65deg, #e28d0d 50%, #8feb17 50%);
        }
        
        .box {
            margin: 50px auto;
            background: white;
            border-radius: 5px;
            box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
        }
    </style>


</head>

<body>

    <div class="box">
        <h1 class="box">
            <%=kind%>
        </h1>
        <%for (var i=0;i<marker.length; i++) { %>

            <input type="checkbox">
            <p>
                <%=marker[i]%>
            </p>

            <%  }%>
    </div>


    <form action="/" method="POST">
        <textarea type="text" name="na" cols="50" row="5"></textarea>
        <button type="submit">Add</button>
    </form>

</body>

</html>